<section class="client">
    <nav class="ui__breadcrumb">
        <div class="jetgrid jetgrid--1200">
            <div class="jetgrid__col--24">
                <div class="jetgrid jetgrid--align-center">
                    <a class="ui__breadcrumb__back-btn" href="javascript:history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8.125" height="15.009" viewBox="0 0 8.125 15.009"><g transform="translate(8.125) rotate(90)"><path d="M14.825.183a.625.625,0,0,0-.884,0L7.5,6.616,1.068.183a.625.625,0,0,0-.884.884L7.062,7.942a.625.625,0,0,0,.884,0l6.879-6.875A.624.624,0,0,0,14.825.183Z" fill="currentColor"/></g></svg>
                    </a>
                    Sou Cliente
                </div>
            </div>
        </div>
    </nav>
    <div class="jetgrid jetgrid--1200 jetgrid--justify-center">
        <div class="jetgrid__col--24">
            <h1 class="ui__title-line">Alterar a senha de acesso</h1>
        </div>
        <div class="jetgrid__col--15 jetgrid__col--md-18 jetgrid__col--sm-21 jetgrid__col--xs-24">
            <div class="ui__box client__box">
                <form class="client__change">
                    <div class="jetgrid jetgrid--justify-center">
                        <div class="jetgrid__col--24">
                            <label class="form__label">Senha atual: <span class="form__asterisk">*</span></label>
                            <input class="form__input client__current-password" type="password" name="senha-atual" placeholder="Digite a senha atual" autocomplete="off" required>
                            <label class="form__label">Nova senha: <span class="form__asterisk">*</span></label>
                            <input class="form__input client__new-password" type="password" name="nova-senha" placeholder="Digite a nova senha" autocomplete="off" required>
                            <label class="form__label">Confirmar a nova senha: <span class="form__asterisk">*</span></label>
                            <input class="form__input client__confirm-password" type="password" name="confirmar-nova-senha" placeholder="Digite a nova senha novamente" autocomplete="off" required>
                        </div>
                        <div class="jetgrid__col--12 jetgrid__col--xs-24">
                            <button class="ui__btn client__btn-change" type="submit">
                                <div class="ui__btn-label">
                                    Alterar senha<br>Alterar senha
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>