<section class="how-rent">
    <nav class="ui__breadcrumb">
        <div class="jetgrid jetgrid--1200">
            <div class="jetgrid__col--24">
                <div class="jetgrid jetgrid--align-center">
                    <a class="ui__breadcrumb__back-btn" href="javascript:history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8.125" height="15.009" viewBox="0 0 8.125 15.009"><g transform="translate(8.125) rotate(90)"><path d="M14.825.183a.625.625,0,0,0-.884,0L7.5,6.616,1.068.183a.625.625,0,0,0-.884.884L7.062,7.942a.625.625,0,0,0,.884,0l6.879-6.875A.624.624,0,0,0,14.825.183Z" fill="currentColor"/></g></svg>
                    </a>
                    Como Alugar?
                </div>
            </div>
        </div>
    </nav>
    <div class="how-rent__header">
        <div class="jetgrid jetgrid--1200 jetgrid--align-center how-rent__box">
            <div class="jetgrid__col--24">
                <h1 class="how-rent__title">Como Alugar?</h1>
                <h2 class="how-rent__subtitle">Confira os documentos necessários para locação e faça download das fichas necessárias</h2>
            </div>
        </div>
        <picture>
            <source media="(min-width: 1080px)" srcset="img/how-rent.jpg">
            <source media="(min-width: 567px)" srcset="img/how-rent-1080.jpg">
            <img class="how-rent__img" src="img/how-rent-567.jpg" alt="Família entrando no seu imóvel feliz" loading="lazy" width="1920" height="500">
        </picture>
    </div>
    <div class="jetgrid jetgrid--1200 jetgrid--justify-center">
        <div class="jetgrid__col--8 jetgrid__col--lg-12 jetgrid__col--sm-24">
            <div class="ui__box how-rent__content">
                <div class="jetgrid">
                    <div class="jetgrid__col--24">
                        <h3 class="how-rent__content-title">Pessoa física</h3>
                        <ul class="how-rent__list">
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                        </ul>
                        <a class="ui__btn" href="#" rel="noopener" target="_blank" download>
                            <div class="ui__btn-label">
                                Download da ficha<br>Download da ficha
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jetgrid__col--8 jetgrid__col--lg-12 jetgrid__col--sm-24">
            <div class="ui__box how-rent__content">
                <div class="jetgrid">
                    <div class="jetgrid__col--24">
                        <h3 class="how-rent__content-title">Pessoa jurídica</h3>
                        <ul class="how-rent__list">
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                        </ul>
                        <a class="ui__btn" href="#" rel="noopener" target="_blank" download>
                            <div class="ui__btn-label">
                                Download da ficha<br>Download da ficha
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jetgrid__col--8 jetgrid__col--lg-12 jetgrid__col--sm-24">
            <div class="ui__box how-rent__content">
                <div class="jetgrid">
                    <div class="jetgrid__col--24">
                        <h3 class="how-rent__content-title">Fiador</h3>
                        <ul class="how-rent__list">
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                            <li class="how-rent__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus</li>
                        </ul>
                        <a class="ui__btn" href="#" rel="noopener" target="_blank" download>
                            <div class="ui__btn-label">
                                Download da ficha<br>Download da ficha
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>