<section class="index">
    <div class="index__search">
        <div class="jetgrid jetgrid--1200">
            <div class="jetgrid__col--24">
                <div class="jetgrid jetgrid--align-center jetgrid--justify-center">
                    <img src="<?php $global['base'] ?>svg/bg-home.svg" alt="decoração de página">
                    <h1>Encontre o imovel perfeito para você!</h1>
                    
                </div>
            </div>
        </div>
    </div>


</section>