<section class="error">
    <div class="breadcrumb__background">
        <div class="jetgrid jetgrid--1200">
            <div class="jetgrid__col--24">
                <div class="breadcrumb__position jetgrid jetgrid--justify-between jetgrid--align-center">
                    <div class="breadcrumb__current jetgrid jetgrid--justify-left jetgrid--align-center">
                        <a class="breadcrumb__title ui__display--xs-none" href="{{$config['pageHome']}}">Home</a>
                        <img class="breadcrumb__pagination ui__display--xs-none" loading="lazy" src="{{$global['base']}}svg/arrow-grey-right.svg" alt="Ícone paginação" width="7.26" height="11.25">
                        <span class="">Página não encontrada</span>
                    </div>
                    <a class="breadcrumb__previous" href="javascript:history.back()">
                        <div class="jetgrid jetgrid--justify-left jetgrid--align-center">
                            <img class="ui__icon" loading="lazy" src="{{$global['base']}}svg/arrow-primary-left.svg" alt="Ícone voltar" width="7.27" height="11.25">
                            <span class="">Voltar</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="jetgrid jetgrid--1200">
        <div class="jetgrid__col--24">
            <div class="error__box">
                <img class="error__img" loading="lazy" src="{{$global['base']}}img/404-bg.png" alt="Background da página 404">
            </div>
            <h1 class="error__title">Página não encontrada</h1>
            <span class="error__subtitle">A página que você esta tentando acessar não foi encontrada</span>
            <span class="error__text">
                Ocorreu um e, infelizmente, não conseguimos encontrar essa página.<br>Tente atualizar a página ou entre em contato para reportar o erro. Obrigado.
            </span>
            <a class="error__btn" href="{{$config['pageHome']}}">
                VOLTAR PARA A PÁGINA INICIAL
            </a>
        </div>
    </div>
</section>