<section class="about">
    <nav class="ui__breadcrumb">
        <div class="jetgrid jetgrid--1200">
            <div class="jetgrid__col--24">
                <div class="jetgrid jetgrid--align-center">
                    <a class="ui__breadcrumb__back-btn" href="javascript:history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8.125" height="15.009" viewBox="0 0 8.125 15.009"><g transform="translate(8.125) rotate(90)"><path d="M14.825.183a.625.625,0,0,0-.884,0L7.5,6.616,1.068.183a.625.625,0,0,0-.884.884L7.062,7.942a.625.625,0,0,0,.884,0l6.879-6.875A.624.624,0,0,0,14.825.183Z" fill="currentColor"/></g></svg>
                    </a>
                    Sobre nós
                </div>
            </div>
        </div>
    </nav>
    <div class="about__header">
        <div class="jetgrid jetgrid--1200 jetgrid--align-center about__box">
            <div class="jetgrid__col--24">
                <h1 class="about__title">Sobre a {{$client['nomeFantasia']}}</h1>
                <h2 class="about__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Mauris condimentum metus nec metus ullamcorpe</h2>
            </div>
        </div>
        <picture>
            <source media="(min-width: 1080px)" srcset="img/about.jpg">
            <source media="(min-width: 567px)" srcset="img/about-1080.jpg">
            <img class="about__img" src="img/about-567.jpg" alt="Jardim Botânico de Curitiba" loading="lazy" width="1920" height="500">
        </picture>
    </div>
    <div class="jetgrid jetgrid--1200">
        <div class="jetgrid__col--24">
            <div class="ui__box">
                <div class="jetgrid">
                    <div class="jetgrid__col--24">
                        <h3 class="about__content-title">Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna.</p>
                        <h3 class="about__content-title">Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum metus nec metus ullamcorper, ac vulputate mi ornare. Donec nisi lorem, finibus lacinia velit eget, fermentum aliquet magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>